.container-fluid {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    background-color: #2f2f2f;
    color: #ffffff;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

.responsive {
    width: 100%;
    max-width: 550px;
    height: auto;
}