<!DOCTYPE html>
<html lang="en">

<head>
    <!---------- Sources ---------->
    <!--
    - Jinja Documentation: https://jinja.palletsprojects.com/en/2.11.x/
    - W3 Schools: https://w3schools.com/
    -->

    <!---------- Importing Fonts and Bootstrap Templates ---------->
    <meta charset="UTF-8">
    <title>Home | NewsMaster</title>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <meta content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script async src="https://cse.google.com/cse.js?cx=5a17426da7fe17b85"></script>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato" rel="stylesheet">
    <link href="{{ url_for('static', filename='manifest.json') }}" rel="manifest">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="NewsMaster" name="apple-mobile-web-app-title">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-startup-image" sizes="512x512">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="icon" sizes="96x96">

    <!---------- CSS for home.html (Kapilesh Pennichetty) ---------->
    <style>
		.container-fluid {
			font-family: font-family: 'Lato', sans-serif;
			font-size 25px;
			background-color: #2f2f2f;
			color: #ffffff;
		}
		.alignleft {
			float: left;
		}
		.alignright {
			float: right;
		}

    </style>

</head>

<body>
<!---------- Header of home.html (Kapilesh Pennichetty) ---------->
<!-- Declaring Bootstrap Template for Header (Kapilesh Pennichetty) -->
<div class="container-fluid" style="font-family: 'Lato', sans-serif;
    background-color: #2f2f2f;
    color: #ffffff">
    <div class="page-header" style="background-color: #2f2f2f;
    color: #1fbed6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;">
        <div id="textbox">
            <h1 class="alignleft"><a href="/" style="color: #1fbed6">NewsMaster</a></h1>
            <h1 class="alignright">
                <a href="/weather" style="color: #1fbed6">
                    <img height="100px" src={{weather_icon}} width="100px">
                </a>
            </h1>
            <div style="clear: both;"></div>
        </div>
    </div>
    <p style="font-size: 25px">The world at your fingertips.</p>
</div>

<!-- Google-Powered Search Bar (Sanjay Balasubramanian) -->
<div class="jumbotron jumbotron-fluid"
     style="background-color: #2f2f2f; padding-bottom: 25px; padding-top: 25px; padding-left: 15px; padding-right: 15px">
    <div class="gcse-searchbox-only"></div>
</div>

<!---------- Display All Articles from News API using Jinja (Kapilesh Pennichetty) ---------->
{% for article in top_articles %} <!-- Beginning of For-Each Loop to display all articles (Kapilesh Pennichetty) -->
<div class="jumbotron jumbotron-fluid" style="font-family: 'Lato', sans-serif">
    <!-- Declaring Bootstrap Template for Articles (Kapilesh Pennichetty) -->
    <div class="container-fluid">
        <div class="page-header">
            {% if (article['title'] != None) and (article['url'] != None) %}
            <h3><a href={{article['url']}} rel="noopener noreferrer" style="color:#ffffff" target="_blank">{{article['title']}}</a>
            </h3>
            {% endif %}
            {% if article['source']['name'] != None %}
            <h5>Source: {{article['source']['name']}}</h5>
            {% endif %}
            {% if article['publishedAt'][0:10] != None %}
            <h5>Date: {{article['publishedAt'][0:10]}} (UTC)</h5>
            {% endif %}
        </div>
        {% if article['description'] != None %}
        <p>{{article['description']}}</p>
        {% endif %}
        {% if article['urlToImage'] != None %}
        <a href={{article['url']}} rel="noopener noreferrer" target="_blank">
            <object data={{article['urlToImage']}} style="max-width: 350px" type="image/jpg"></object>
        </a>
        {% endif %}
        {% if article['url'] != None %}
        <p><a href={{article['url']}} rel="noopener noreferrer"
              style="font-family: 'Lato', sans-serif; color: #1fbed6; font-weight:bold"
              target="_blank">Learn More</a></p>
        {% endif %}
    </div>
</div>
{% endfor %} <!-- End of For-Each Loop (Kapilesh Pennichetty) -->

<!-- Footer of Webpage (Kapilesh Pennichetty) -->
<footer>
    <p align="center" style="font-family: 'Lato', sans-serif; color: #000000; font-weight:bold"><span>&#169;</span> 2021
        Kapilesh Pennichetty and Sanjay Balasubramanian</p>
</footer>
</body>
</html>