<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato" rel="stylesheet">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="NewsMaster">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icon-192.png">
    <link rel="apple-touch-startup-image" href="images/icon-512.png">
    <title>Home</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon-96.png') }}">
    <style>
    .container-fluid {
        font-family: font-family: 'Lato', sans-serif;
        font-size 25px;
        background-color: #2f2f2f;
        color: #ffffff;
    }
    </style>

</head>
<body>
    <div class="container-fluid" style="font-family: 'Lato', sans-serif;
    background-color: #2f2f2f;
    color: #ffffff;">
        <div class="page-header" style="background-color: #2f2f2f;
    color: #1fbed6;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;">
            <h1>NewsMaster</h1>
        </div>
        <p style="font-size: 25px">The world at your fingertips.</p>
    </div>
    {% for article in all_articles %}
        <div class="jumbotron jumbotron-fluid" style="font-family: 'Lato', sans-serif">
            <div class = "container-fluid">
                <div class="page-header">
                    <h3>{{article['title']}}</h3>
                    <h5>Source: {{article['source']['name']}}</h5>
                    <h5>Author: {{article['author']}}</h5>
                    <h5>Date: {{article['publishedAt'][0:10]}}</h5>
                </div>
                <p>{{article['description']}}</p>
                <img src= {{article['urlToImage']}} width="350px" height="175px">
                <p><a href = {{article['url']}} target="_blank" rel="noopener noreferrer" style="font-family: 'Lato', sans-serif; color: #1fbed6; font-weight:bold">Learn More</a></p>
                </div>
            </ul>
        </div>
    {% endfor %}
    <footer>
        <p align="center" style="font-family: 'Lato', sans-serif; color: #000000; font-weight:bold"><span>&#169;</span> 2021 Kapilesh Pennichetty and Sanjay Balasubramanian</p>
    </footer>
</body>
</html>