<!DOCTYPE html>

<!--------- Credits ---------->
<!--
    - Popup: https://webdevtrick.com/popup-in-pure-css-and-html-get-example-with-source-code/
    - Search Functionality: https://www.techwithtim.net/tutorials/flask/http-methods-get-post
-->

<!---------- Importing Fonts ---------->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Search Error | NewsMaster</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <meta content="#4f4f4f" name="theme-color">
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link href="{{ url_for('static', filename='manifest.json') }}" rel="manifest">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="NewsMaster" name="apple-mobile-web-app-title">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-startup-image" sizes="512x512">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="icon" sizes="96x96">
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather.css') }}">
</head>

<body>

<!---------- Header of search_error.html ---------->
<main class="main-container">
    <header class="header">
        <nav>
            <a class="logo" href="/weather" style="color:#1fbed6">Weather</a>
            <input class="menu-btn" id="menu-btn" type="checkbox"/>
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a class="button" href="/" style="color:#1fbed6">Home</a></li>
            </ul>
        </nav>
    </header>

    <!---------- Search Form (Credits: https://www.techwithtim.net/tutorials/flask/http-methods-get-post) ---------->
    <div class="search">
        <form action="#" method="post">
            <h3>Search for a Location:</h3>
            <h3><input name="nm" placeholder="Enter a City Name or ZIP Code" style="width: 280px; height: 35px"
                       type="text"/>
                <button style="height:30px; width: 70px; background-color: #1fbed6; border-radius: 7px; border-color: #1fbed6"
                        type="submit">
                    <img src="{{ url_for('static', filename='images/Search.png') }}"
                         style="height:20px; width: 20px; margin-bottom: -5px; margin-top: -3px; margin-right: 2px">
                </button>
            </h3>
        </form>
    </div>

    <!---------- Error Message ---------->
    <div style="font-family: 'Lato', sans-serif; text-align: center; width: 100%; margin-top: 6em">
        <h3>Sorry, we cannot find the requested location.</h3>
        <h3>Please check your search parameters and try again.</h3>
    </div>
</main>
<!---------- Footer ---------->
<footer style="background-color: #2f2f2f; margin-top: 6em">
    <p align="center" style="font-family: 'Lato', sans-serif; color: #ffffff; font-weight:bold">Powered by <a
            href="https://www.weatherapi.com/" style="color: #ffffff" title="Weather API">WeatherAPI.com</a></p>
</footer>

<!-- Copyright -->
<footer>
    <p align="center" style="font-family: 'Lato', sans-serif; color: #ffffff; font-weight:bold">Copyright <span>&#169;</span>2021
        Kapilesh Pennichetty and Sanjay Balasubramanian. All rights reserved.</p>
</footer>

</body>

</html>