{% extends 'weather_base.html' %}

{% block main %}

<!---------- Header of weather_search.html ---------->
<main class="main-container">
    <header class="header">
        <nav>
            <a class="logo" href="#" style="color:#1fbed6">{{ search_weather["name"] }}</a>
            <input class="menu-btn" id="menu-btn" type="checkbox"/>
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a class="button" href="/" style="color:#1fbed6">Home</a></li>
                <li><a class="button" href="#temp_advice" style="color:#1fbed6">Temperature Advice</a></li>
                <div class="popup" id="temp_advice">
                    <div class="popup-inner">
                        <div class="popuptext">
                            <h1 align="center">Temperature Advice</h1>
                            <p align="center"> {{ temp_advice_search }} </p>
                        </div>
                        <a class="closepopup" href="#">X</a>
                    </div>
                </div>
                </div>

                <li><a class="button" href="#precip_advice" style="color:#1fbed6">Precipitation Advice</a></li>
                <div class="popup2" id="precip_advice">
                    <div class="popup2-inner">
                        <div class="popuptext2">
                            <h1 align="center">Precipitation Advice</h1>
                            <p align="center"> {{ precip_advice_search }} </p>
                        </div>
                        <a class="closepopup" href="#">X</a>
                    </div>
                </div>
                </div>

            </ul>
        </nav>
    </header>

    <!---------- Search Form (Credits: https://www.techwithtim.net/tutorials/flask/http-methods-get-post) ---------->
    <div class="search">
        <form action="#" method="post">
            <h3>Search for a Location:</h3>
            <h3><input name="nm" placeholder="Enter a City Name or ZIP Code" style="width: 280px; height: 35px"
                       type="text"/>
                <button style="height:30px; width: 70px; background-color: #1fbed6; border-radius: 7px; border-color: #1fbed6"
                        type="submit">
                    <img src="{{ url_for('static', filename='images/Search.png') }}"
                         style="height:20px; width: 20px; margin-bottom: -5px; margin-top: -3px; margin-right: 2px">
                </button>
            </h3>
        </form>
    </div>

    <!---------- Current Temperature details ---------->
    <div class="current-temperature">
        <div class="current-temperature__icon-container"></div>
        <div class="current-temperature__content-container">
            <div class="current-temperature__value">{{ search_weather["temp_f"] }} &#8457;</div>
        </div>
    </div>
    <div class="current-stats">
        <div>
            <div class="current-stats__value">{{ search_weather["text"] }}</div>
            <div class="current-stats__label">Description</div>
            <div class="current-stats__value">{{ search_weather["feelslike_f"] }} &#8457;</div>
            <div class="current-stats__label">Feels Like</div>
        </div>
        <div>
            <div class="current-stats__value">{{ search_weather["wind_mph"] }} mph</div>
            <div class="current-stats__label">Wind Speed</div>
            <div class="current-stats__value">{{ search_weather["wind_dir"] }}</div>
            <div class="current-stats__label">Wind Direction</div>
        </div>
        <div>
            <div class="current-stats__value">{{ search_weather["precip_in"] }} in</div>
            <div class="current-stats__label">Precipitation</div>
            <div class="current-stats__value">{{ search_weather["humidity"] }}%</div>
            <div class="current-stats__label">Humidity</div>
        </div>
    </div>

    <!---------- Last Updated ---------->
    <div class="search">
        <p>Last Updated: {{ search_weather["last_updated"] }} ({{ search_weather["tz_id"] }} Time Zone)</p>
    </div>
</main>
<!---------- Footer ---------->
<footer style="background-color: #2f2f2f; margin-top: 6em">
    <p align="center" style="font-family: 'Lato', sans-serif; color: #ffffff; font-weight:bold">Powered by <a
            href="https://www.weatherapi.com/" style="color: #ffffff" title="Weather API">WeatherAPI.com</a></p>
</footer>

<!-- Copyright -->
<footer>
    <p align="center" style="font-family: 'Lato', sans-serif; color: #ffffff; font-weight:bold">Copyright <span>&#169;</span>2021
        Kapilesh Pennichetty and Sanjay Balasubramanian. All rights reserved.</p>
</footer>

{% endblock %}