<!DOCTYPE html>
<!---------- Importing Fonts ---------->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ search_weather["location"] }} Weather | NewsMaster</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='manifest.json') }}" rel="manifest">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="NewsMaster" name="apple-mobile-web-app-title">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-icon" sizes="180x180">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="apple-touch-startup-image" sizes="512x512">
    <link href="{{ url_for('static', filename='images/logo.png') }}" rel="icon" sizes="96x96">
    <link href="{{ url_for('static', filename='css/stylesheet.css') }}" media="screen" rel="stylesheet"
          type="text/css"/>
</head>
<body>

<!--------- Credits ---------->
<!--
Popup: https://webdevtrick.com/popup-in-pure-css-and-html-get-example-with-source-code/
-->

<!---------- Header of weather.html ---------->
<main class="main-container">
    <header class="header">
        <nav>
            <a class="logo" href="#" style="color:#1fbed6">{{ search_weather["location"] }}</a>
            <input class="menu-btn" id="menu-btn" type="checkbox"/>
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a class="button" href="/" style="color:#1fbed6">Home</a></li>
                <li><a class="button" href="#temp_advice" style="color:#1fbed6">Temperature Advice</a></li>
                <div class="popup" id="temp_advice">
                    <div class="popup-inner">
                        <div class="popuptext">
                            <h1 align="center">Temperature Advice</h1>
                            <p align="center"> {{ temp_advice_search }} </p>
                        </div>
                        <a class="closepopup" href="#">X</a>
                    </div>
                </div>
                </div>

                <li><a class="button" href="#precip_advice" style="color:#1fbed6">Precipitation Advice</a></li>
                <div class="popup2" id="precip_advice">
                    <div class="popup2-inner">
                        <div class="popuptext2">
                            <h1 align="center">Precipitation Advice</h1>
                            <p align="center"> {{ precip_advice_search }} </p>
                        </div>
                        <a class="closepopup" href="#">X</a>
                    </div>
                </div>
                </div>

            </ul>
        </nav>
    </header>

    <!---------- Search Form ---------->
    <div class="search">
        <form action="#" method="post">
            <h3>Search for a Location:</h3>
            <h3><input name="nm" placeholder="Enter a City Name or ZIP Code" style="width: 280px; height: 35px"
                       type="text"/>
                <button style="height:30px; width: 70px; background-color: #1fbed6; border-radius: 7px; border-color: #1fbed6"
                        type="submit">
                    <img src="{{ url_for('static', filename='images/Search.png') }}"
                         style="height:20px; width: 20px; margin-bottom: -5px; margin-top: -3px; margin-right: 2px">
                </button>
            </h3>
        </form>
    </div>

    <!---------- Current Temperature details ---------->
    <div class="current-temperature">
        <div class="current-temperature__icon-container"></div>
        <div class="current-temperature__content-container">
            <div class="current-temperature__value">{{ search_weather["temp_f"] }} &#8457;</div>
        </div>
    </div>
    <div class="current-stats">
        <div>
            <div class="current-stats__value">{{ search_weather["text"] }}</div>
            <div class="current-stats__label">Description</div>
            <div class="current-stats__value">{{ search_weather["feelslike_f"] }} &#8457;</div>
            <div class="current-stats__label">Feels Like</div>
        </div>
        <div>
            <div class="current-stats__value">{{ search_weather["wind_mph"] }} mph</div>
            <div class="current-stats__label">Wind Speed</div>
            <div class="current-stats__value">{{ search_weather["wind_dir"] }}</div>
            <div class="current-stats__label">Wind Direction</div>
        </div>
        <div>
            <div class="current-stats__value">{{ search_weather["precip_in"] }} in</div>
            <div class="current-stats__label">Precipitation</div>
            <div class="current-stats__value">{{ search_weather["humidity"] }}%</div>
            <div class="current-stats__label">Humidity</div>
        </div>
    </div>

</main>
<!------------- Footer ---------->
<footer style="background-color: #2f2f2f; margin-top: 6em"><p align="center"
                                                              style="font-family: 'Lato', sans-serif; color: #ffffff; font-weight:bold">
    <span>&#169;</span> 2021
    Jeff (Alias) and Jack (Alias)</p>
    <p align="center" style="font-family: 'Lato', sans-serif; color: #ffffff; font-weight:bold">Powered by <a
            href="https://www.weatherapi.com/" style="color: #ffffff" title="Weather API">WeatherAPI.com</a></p>
</footer>
</body>
</html>